.dart*
.idea
.vscode
build/
package_config.json
.flutter*
.packages
package_config*
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
lib/generated_plugin_registrant.dart
android/app/debug
android/app/profile
android/app/release
